name: eigenda-goreleaser

on:
  push:
    tags:
      - v*
    branches:
      - master
  pull_request:

permissions:
  contents: write
  packages: write
  # issues: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: jdx/mise-action@v2
        with:
          version: v2025.7.1 # [default: latest] mise version to install
          log_level: info
          github_token: ${{ secrets.GITHUB_TOKEN }}
          experimental: true # required for go-ethereum/cmd/abigen

      - name: Login to ghcr
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set snapshot flag
        run: echo "SNAPSHOT_FLAG=--snapshot" >> $GITHUB_ENV
        if: ${{ !startsWith(github.ref, 'refs/tags/v') }}

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          # 'latest', 'nightly', or a semver
          version: "~> v2"
          args: release --clean ${{ env.SNAPSHOT_FLAG }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
